<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Django Social Post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Django Social Post</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/posts">My Posts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4 class="text-center">Create a post</h4>
                        Post Title:
                        <input class="form-control" type="text" name="title"> Post Content:
                        <textarea class="form-control" name="content"></textarea>
                        <br>Attach Image: <br>
                        <input type="file" id="postimage" name="postimage" accept="image/jpeg, image/png, image/jpg">
                        <br><br>
                        <input type="submit" value="Submit post">
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <br>
                    <h6 class="display-4 text-center">Posts</h6>
                    <br>
                </div>
            </div>
            <div class="row">
                {% if post_list is not None %}
                
                    {% for post in post_list %}
                    <div class="col-md-4 col-lg-6">
                        <div class="card">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" width="538px"> {% endif %}

                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <h6 class="text-muted card-subtitle mb-2">posted by <b>{{ post.author }}</b></h6>
                                <p class="card-text">{{ post.content }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>